<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Guid of your Office 365 tenant-->
    <add key="TenantId" value="" />
    <!--Guid of your application on Azure (Application ID)-->
    <add key="ApplicationId" value="" />
    <!--Certificate thumbprint retrieved while configuring Application manifest in Azure-->
    <add key="CertThumbprint" value= "" />
  </appSettings>
</configuration>